@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinking-element {
    animation: blink 1s infinite;
    /* 1초 간격으로 반복되도록 설정 */
}

.gradient-primary {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#00C6FB] to-[#005BEA];
}